# Dependencies
node_modules/

# Sessions (trè enpòtan pa upload sa)
sessions/
session/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Backup files
*~
*.bak
*.tmp

# Build / cache
dist/
build/

# Dynamic plugins / binaries
bin/

# IDE files
.vscode/
.idea/